
$header-color: #25B2F8;

.header {
  background-color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  padding-left: 17px;
  position: relative;
  top: -2px;

  a {
    color: #2D3E50;
    text-decoration: none;
    font-size: 18px;
    margin-right: 35px;
    display: block;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}
