

.Wrapper {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 700px;
}


.container {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.contentInner {
  padding: 20px;
}
